
 .profile_cont{
   margin: 30px;
 }

 #main .header a {
   color: white;
   text-decoration: none;
 }

.new_h2{
  margin-top: -5px;
}
.product_container{
  float: left;
  margin-top: 10px;
  width: 250px;
  height:270px;
  text-align: center;  
}

.product_attr{
  margin-top: 20px;
}

#main #search_input #search_in {
  color: aliceblue;
}

#main .header_item{
  margin-top: 10px;
}
#main .header button{
  margin-top: 10px
}

@media screen and (min-width: 600px) {
  .categories_grid{
    padding-left: 20px;
  }
  .header {
    margin-left: 20px;
   }
   .product_container{
    margin: 10px;
   }
   #main .nav_cont{
    padding: 0px 30px;
   } 
   .categories_grid button{
    font-size: 15px;
  }
  #main .show_product_paper{   
    border-radius: 0;
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .product_container{
    float: left;
    margin-top: 5px;
    width: 200px;
    height:200px;
    text-align: center;
    font-size: x-small;
  }
  .product_container img{
    width: 75px;
  }
  .categories_grid button{
    font-size: x-small;
  }
  .nav_cont{
    font-size: small;
  }
  .nav_cont button{
    font-size: x-small;
  }
  .footer_t{
    width: 100%;
  }
  
}
#home_cont{
  margin: 20px 0;
}
#main .price{
  margin-left: 10px;
  margin-bottom: 10px;
}
#search_complete{
  color: white;
}
#search_complete_label{
  color: white;
}
.checked_category{
  background-color:  #0a008b30;
}

.show_product_paper .show{
  padding: 15px;
}
#main .filter{
  margin-top: 200px
}
#main .footer_i{
  float:left
}
.footer_t{
  margin-top: 3px;
  padding-left: 5px;
  float: left;
}
#main .footer{
  margin-top: 40px;
}
#main .footer_c{
  padding-bottom: 20px;
}
#paginator{
  margin-top: 20px;
}
#main .stepper{
  margin-bottom: 20px;
}

#main .image_st{
  margin-top: 30px;
}
.cartC{
  font-size: small;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  margin-top: -20px;
  width: 15px;
  height: 15px;
  background: red;
}
.order_info{
  padding-top: 20px;
}
.order_info button{
  margin-bottom: 20px;
}
#main .order_cont{
  margin: 30px;
  padding: 10px;
  text-align: center
}


