
 .profile_cont{
   margin: 30px;
 }

 #main .header a {
   color: white;
   text-decoration: none;
 }

.new_h2{
  margin-top: -5px;
}
.product_container{
  float: left;
  margin-top: 10px;
  width: 250px;
  height:270px;
  text-align: center;  
}

.product_attr{
  margin-top: 20px;
}

#main #search_input #search_in {
  color: aliceblue;
}

#main .header_item{
  margin-top: 10px;
}
#main .header button{
  margin-top: 10px
}

@media screen and (min-width: 600px) {
  .categories_grid{
    padding-left: 20px;
  }
  .header {
    margin-left: 20px;
   }
   .product_container{
    margin: 10px;
   }
   #main .nav_cont{
    padding: 0px 30px;
   } 
   .categories_grid button{
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .product_container{
    float: left;
    margin-top: 5px;
    width: 200px;
    height:250px;
    text-align: center;
  }
  .product_container img{
    width: 75px;
  }
  .categories_grid button{
    font-size: small;
  }
  .nav_cont{
    font-size: small;
  }
  .nav_cont button{
    font-size: x-small;
  }
  
}
#home_cont{
  margin: 20px 0;
}
#main .price{
  margin-left: 10px;
  margin-bottom: 10px;
}
#search_complete{
  color: white;
}
#search_complete_label{
  color: white;
}
.checked_category{
  background-color:  #0a008b30;
}